.main{
    display: grid;
    grid-template-columns: 2fr 9fr;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}



:root{
    --bg-clr:#18191a;
    --para-clr:#86888a;
    --heading-clr:#ffffff;
    --icon-clr:#12CBC4;
    --hover-clr:#4b6584;
}

body{
    background-color: var(--bg-clr) !important;
}